@{
    ViewData["Title"] = "Search Page";
}

<h2>🔍 Search Results</h2>
<div class="container mt-5">
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div>
                            <img src="@Model.Poster" alt="@Model.Title" class="img-fluid">
                        </div>
                    </div>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">@Model.Title (@Model.Year)</h3>
                    <p><strong>Genre:</strong> @Model.Genre</p>
                    <p><strong>Director:</strong> @Model.Director</p>
                    <p><strong>Actors:</strong> @Model.Actors</p>
                    <p><strong>Plot:</strong> @Model.Plot</p>
                    <p><strong>Language:</strong> @Model.Language</p>
                    <p><strong>Country:</strong> @Model.Country</p>
                    <p><strong>Awards:</strong> @Model.Awards</p>
                    <p><strong>Ratings:</strong></p>
                    <ul>
                        @foreach (var rating in Model.Ratings)
                        {
                            <li>@rating.Source: @rating.Value</li>
                        }
                    </ul>
                    <p><strong>IMDb Rating:</strong> @Model.imdbRating</p>
                    <p><strong>IMDb Votes:</strong> @Model.imdbVotes</p>
                    <p><strong>Box Office:</strong> @Model.BoxOffice</p>
                    <p><strong>Production:</strong> @Model.Production</p>
                    <p><strong>Website:</strong> @Model.Website</p>
                </article>
            </aside>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        @Html.ActionLink("Search Again", "Index", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>